<%- include("../../partials/header.ejs")%>
<body>
    <%- include("../../partials/navbar.ejs") %>
    <div class="wrapper">
       <hr>
       <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Novo de artigos</h2>
            </div>
            <div class="card-body" >
                <form method="post" action="/categories/save">
                     <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo">
                     <br><textarea class="form-control" placeholder="Escreva seu artigo aqui!!" name="body" id="article"></textarea>
                     <br><button class="btn btn-success">Cadastrar</button>
                </form>
                
            </div>
        </div>
    </div>
    <br>
        <%- include("../../partials/footer.ejs") %>
    </div>
</body>
<%- include("../../partials/footerScript.ejs") %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#article",
        plugins: [
        "preview",
        "advlist",
        "autolink",
        "link",
        "image",
        "lists",
        "print",
        "hr",
        "searchreplace",
        "wordcount",
        "fullscreen",
        "insertdatetime",
        "media",
        "save",
        "table",
        "paste",
        "emoticons",
        "code",
        ]
    });
</script>