body{
    background-color: gainsboro;
    height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.cores{
  color: white;
}

.coreshero{
  background-color: gray;
}

#cores{
  background-color: gray;
  --bs-navbar-padding-x: none;
  --bs-navbar-padding-y: none;

}

.jog{
  margin-top: auto;
  color: white;
  background-color: gray;
}
